body {
  font-size: 100%;
  font-family: palatino;
  overflow-x: hidden;
}

.Top {
  background-image: url('./image/top.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin-top: -32px;
}

#intro h1 {
  padding: 4%;
  display: inline-block;
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}


#typing {
  display: inline-block;
  position: relative;
  margin-left: -6%;
  font-family: 'Pacifico', cursive;
}

@media only screen and (max-width: 750px) {
  #typing {
    display: block;
    position: relative;
    margin-left: 0%;
    top: -90px;
  }
  #intro h1 {
    position: relative;
    display: block;
  }
}

#scroll {
  color: #191923;
  transition: all 0.4s ease-in-out 0s;
}

.About:hover .About.Left {
  width: 100%;
  transition: all 0.4s ease-in-out 0.4s;
  padding-left: 3%;
  padding-right: 3%;
}
.About:hover .About.Left p {
  color: #32936f;
  transition: all 0.4s ease-in-out 0.4s;
}
.About:hover .About.Right{
  width: 0%;
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
.About {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.About.Left{
  position: relative;
  display: inline-block;
  width: 50%;
  background-color: #191923;
  color: #0892a5;
  height: 400px;
  vertical-align: top;
  padding-top: 5%;
  padding-left: 5%;
  padding-left: 7%;
  transition: all 0.4s ease-in-out 0.4s;
}
.About.Left h2 {
  color: #fbf3f9;
}
.About.Right{
  background-image: url('./image/mug.jpg');
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 50%;
  background-position: right -20em top -130px;
  height: 400px;
  vertical-align: top;
  padding-top: 3%;
  transition: all 0.4s ease-in-out 0.4s;
}

#right {
  text-align: center;
  margin-left: -100%;
  height: 400px;
  margin-top: 9vh;
  z-index: 1;
  position: relative;
}
#right img {
  width: 25px;
  margin-top: -680px;
  z-index: -1;
  position: relative;
  right: 2%;
}
#left {
  text-align: left;
}

.About h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: #32936f;
}

#right h1 {
  font-size: 8em;
}

.Stack {
  background-color: #fbfef9;
  margin-bottom: 7%;
}
.Stack h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.Stack h1 img {
  width: 40px;
  height: 50px;
  margin-left: -5px;
  margin-right: -5px;
}
.Stack span:hover .Stack h1 img {
  animation: rotateIn;
  animation-duration: 5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
}
.rotateIn {
  animation: rotateIn;
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
}

.rotateOut {
  animation: rotateOut;
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: forward;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 2520deg);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -2520deg);
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
.Stack img {
  width: 90px;
  height: 90px;
  margin: 2%;
}

#divide img {
  width: 100%;
}

.Work {
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #32936f;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.End {
    background-image: url('./image/forest.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    margin-top: -21px;
}

::-webkit-scrollbar              { background-color: black; width: 2px; }
::-webkit-scrollbar-button       { background-color: black; width: 2px; }
::-webkit-scrollbar-track        { background-color: black; width: 2px;}
::-webkit-scrollbar-track-piece  { background-color: black; width: 2px;}
::-webkit-scrollbar-thumb        { background-color: black; width: 2px;}
::-webkit-scrollbar-corner       { background-color: black; width: 2px;}
::-webkit-resizer                { background-color: black; width: 2px;}