body {
  font-size: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}
a {
  color: #191923;
}

.Top {
  background-image: url('./image/top.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin-top: 0px;
  overflow-y: hidden;
}

.Top a {
  color: #0892a5;
}

#intro h1 {
  padding: 4%;
  display: inline-block;
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  top:-25px;
}

#typing {
  display: inline-block;
  position: relative;
  margin-left: -6%;
  margin-top: -7%;
  font-family: 'Pacifico', cursive;
  color: #395e66
}
.Top img {
  width: 35px;
  height: 50px;
}
#menu {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 3;
}
#pencil {
  transition: all 0.4s ease-in-out 0s;
}
#item {
  display: inline-block;
  position: fixed;
  top: 28px;
  right: 40px; 
  font-family: 'Pacifico', cursive;
  z-index: 3;
  font-size: 3em;
  transition: all 0.4s ease-in-out 0s;
}
.dropdown-menu.dropdown-menu-right {
  background: none;
  border: none;
  text-align: right;
  margin-right: -100%;
  box-shadow: none;
  z-index: 3
}
button.dropdown-toggle.btn.btn-default {
  opacity: 0;
  z-index: 3;
}

@media only screen and (max-width: 750px) {
  #typing {
    display: block;
    position: relative;
    margin-left: 0%;
    top: -50px;
  }
  #intro h1 {
    position: relative;
    display: block;
  }
}

#scroll {
  color: #191923;
  transition: all 0.4s ease-in-out 0s;
  font-size: 6em;
}

.About:hover .About.Left {
  width: 100%;
  transition: all 0.4s ease-in-out 0.4s;
  padding-left: 3%;
  padding-right: 3%;
}
.About:hover .About.Left p {
  color: #32936f;
  transition: all 0.4s ease-in-out 0.4s;
}
.About:hover .About.Left a {
  color: #fbfef9;
}
#scroll span:hover {
  display: inline-block;
  animation: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  color: green;
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
.About:hover .About.Right{
  width: 0%;
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
.About {
  border-top: 2px solid #191923;
  border-bottom: 2px solid #191923;
  z-index: 1;
}
.About.Left{
  position: relative;
  display: inline-block;
  width: 50%;
  background-color: #191923;
  color: #0892a5;
  height: 400px;
  vertical-align: top;
  padding-top: 5%;
  padding-left: 5%;
  padding-left: 7%;
  transition: all 0.4s ease-in-out 0.4s;
  overflow-y: hidden;
  overflow-x: hidden;
}
.About.Left h2 {
  color: #fbf3f9;
}
.About.Left a {
  color: #191923;
}
.About.Right{
  background-image: url('./image/mug.jpg');
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 50%;
  background-position: right -20em top -130px;
  height: 400px;
  vertical-align: top;
  padding-top: 3%;
  transition: all 0.4s ease-in-out 0.4s;
}

#right {
  text-align: center;
  margin-left: -100%;
  height: 400px;
  margin-top: 9vh;
  z-index: 1;
  position: relative;
}
#right img {
  width: 25px;
  margin-top: -680px;
  z-index: -1;
  position: relative;
  right: 2%;
}
#left {
  text-align: left;
}

.About h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: #32936f;
}

#right h1 {
  font-size: 8em;
}

@media only screen and (max-width: 850px) {
  .About.Right {
    width: 0%;
    overflow-x: hidden;
  }
  .About.Left {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
  }
  .About.Left a{
    color: #fbfef9;
  }
  #scroll {
    color: #fbfef9;
  }
}

@media only screen and (min-width: 1788px) {
  .About.Right{
    background-position: right -10em top -130px;
  }
}

.Stack {
  background-color: #fbfef9;
  margin-bottom: 7%;
}
.Stack h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.Stack h4 {
  font-size: 2em;
}
.Stack h1 img {
  width: 40px;
  height: 50px;
  margin-left: -5px;
  margin-right: -5px;
}
.Stack span:hover .Stack h1 img {
  animation: rotateIn;
  animation-duration: 5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
}
.Stack p {
  text-align: center;
}
.rotateIn {
  animation: rotateIn;
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
}

.rotateOut {
  animation: rotateOut;
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: forward;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 2520deg);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -2520deg);
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
.Stack img {
  width: 90px;
  height: 90px;
  margin: 2%;
}

#divide img {
  width: 100%;
}


.Work {
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #32936f;
  border-top: 2px solid #191923;
  border-bottom: 2px solid #191923;
  padding-bottom: 10%;
}

#workTitle {
  text-align: center;
  margin-bottom: 5%;
}
#workTitle h1 {
  font-size: 4em;
  color: #191923
}
.Work#right {
  text-align: right;
}
.Work h1 {
  font-family: 'Pacifico', cursive;
}
.Work h4 {
  font-size: 2em;
  color: #191923;
}

#screenshot img {
  width: 100%;
  height: 20%;
  border: 1px solid #191923;
  box-shadow: 3px 3px 10px #191923;
}
#harbour {
  padding-left: 5%;
}

.Work a {
  text-decoration: none;
  color: #191923;
}
a:hover {
  text-decoration: none;
  color: #395e66;
}
.Work h1 img {
  width: 40px;
  height: 50px;
  margin-left: -5px;
  margin-right: -5px;
}


.Project {
  padding: 3% 3% 10% 3%;
  background-color: #b5c2b7;
}
.Project img {
  width: 90%;
  box-shadow: 3px 3px 10px #32936f;
}
.Project h1 {
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  text-align: center;
}
.Project h1 img {
  width: 40px;
  height: 50px;
  margin-left: -5px;
  margin-right: -5px;
  box-shadow: none;
}
.Project a {
  color: #191923;
}
.Project a:hover {
  color: #395e66;
}
.Project h4 {
  font-size: 2em;
}

.End {
    background-image: url('./image/forest.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    margin-top: -21px;
    padding: 7%;
}
.End h1 {
  color: #fbfef9;
  font-family: 'Pacifico',cursive;
  font-size: 8em;
  position: relative;
  display: inline-block;
}
.End h2 {
  font-family: 'Pacifico', cursive;
  color: #fbfef9;
  position: relative;
  display: inline-block;
  margin-right: 6%;
}
.End a {
  color: #fbfef9;
}
#link:hover {
  animation: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  display: inline-block;
}

.social a {
  text-decoration:none;
  -webkit-transition:all 0.5s ease-out;
}
.social img {
	height:35px;
  margin:5px;
  -webkit-transition:all 0.5s ease-out;
	
}
.social img:hover {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    -webkit-transition:all 0.5s ease-out;
}


::-webkit-scrollbar              { background-color: #191923; width: 2px; }
::-webkit-scrollbar-button       { background-color: #191923; width: 2px; }
::-webkit-scrollbar-track        { background-color: #191923; width: 2px;}
::-webkit-scrollbar-track-piece  { background-color: #191923; width: 2px;}
::-webkit-scrollbar-thumb        { background-color: #191923; width: 2px;}
::-webkit-scrollbar-corner       { background-color: #191923; width: 2px;}
::-webkit-resizer                { background-color: #191923; width: 2px;}